<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skripsi170101007">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Asset Management System"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">
        <activity android:name=".UpdateData3" />
        <activity android:name=".UpdateData2" />
        <activity android:name=".MyListData3" />
        <activity android:name=".MyListData2" />
        <activity android:name=".UpdateData1" />
        <activity android:name=".MyListData1" />
        <activity
            android:name=".crud"
            android:label="@string/title_activity_crud"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>